body {
    background-image: url(bookshelf.jpg);
    background-size: cover;
    font-family: 'Playfair Display', serif}

header {
    margin: auto;
    background-color: rgba(238, 235, 235, 0.89);
    width: 75%;
    height: 50px;
}

header > h1 {
    padding-top: 5px;
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.library {
    margin: 40px auto;
    width: 75%;
    height: 600px;
    background-color: rgba(238, 235, 235, 0.89);
}

.grid-container {
    margin: auto;
    padding-top: 50px;
    width: 80%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.book-card {
    border: 1px solid black;
    font-size: 12px;    
    border-radius: 20px;
}

.book-card h4 {
    font-size: 150%;
    margin-bottom: 10px;
}