body {
    font-family: 'Playfair Display', serif;
    height: 95vh;

    background-image: url(libr1.jpg);
    background-size: cover;
}

header {
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.952);
    max-width: 700px;
    height: 100px;
    padding-bottom: 10px ;
    box-shadow: 4px 4px 7px -1px rgba(63, 61, 61, 0.75);
    border-radius: 15px;
    transition-duration: 0.5s;
}

header>h1 {
    padding-top: 5px;
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.829);

}

/*add book button plus sign image*/
img {
    height: 50px;
    width: 50px;
}

form {
    background-color: rgba(255, 255, 255, 0.979);
    border: 1px solid black;
    width: 420px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 4px 4px 7px -1px rgba(63, 61, 61, 0.75);
    z-index: 1;
    display: none;
    transition: all 1s linear;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}

form h2 {
    text-align: center;
}

input {
    margin-left: 40px;
}


input[type="text"],
input[type="number"] {
    height: 25px;
    width: 70%;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    box-shadow: 2px 2px 5px -1px rgba(50, 50, 50, 0.75);
    border: 1px solid black;
}

input[type="radio"] {
    margin-left: 100px;
    color: #06d6a0;
}

/*-------Book logs table elements---------*/
.tg {
    margin-top: 15px;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 8px;
    word-break: normal;
}

.tg .tg-dvpl {
    text-align: right;
    vertical-align: top
}

/*------Another book log elements-----*/

.lib-logo-container {
    text-align: center;
}

.logo {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.book-log-divider {
    background-color: #f3d949;
    width: 60%;
    height: 3px;
    border: none;
}

#book-log h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(179, 179, 179, 0.829);

}
#book-log {
    background-color: #fffffffa;
    font-size: 1em;
    border: 10px double rgba(10, 10, 10, 0.041);
}


/*If user trys to submit book without filling input fields this animation is run in form*/
.inputs-not-filled {
    animation: rotation 0.2s 0.1s linear;
}

/*When form is opened, background is blurred*/
.filter-on {
    filter: blur(5px);
}

/*This holds all the content*/
.container {
    width: 80%;
    height: 100%;
    margin: auto;
    border-radius: 15px;
}

.library {
    text-align: center;
    margin: 40px auto;
}

.grid-container {
    margin: 10px auto;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(5, 200px);
    grid-auto-rows: minmax(260px, 280px) 260px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.book-card {
    text-align: left;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: 5px 5px 17px -1px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.986);
    transition-duration: 1s;
}

.book-card:hover {
    transform: scale(1.1);
}

.book-card h4 {
    font-size: 1.6em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(179, 179, 179, 0.829);
}

.book-info {
    text-align: center;
}

.close-book-card {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 8px;
    color: rgb(138, 136, 136);
    cursor: pointer;
}

.close-book-card:hover {
    color: black;
}

/*inside book-card button*/
.reading-status-btn {
    width: 80px;
    height: 30px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 7px -1px rgba(50, 50, 50, 0.75);
    font-size: 15px;
    transition-duration: 0.5s;
    background-color: #06f096;
}

.not-read-btn {
    background-color: #f35858;
}

.in-progress-btn {
    background-color: #fbe14b;
    font-size: 13px;
}

.reading-status-btn:hover {
    animation: rotation 0.5s 0.1s linear;
}



@keyframes rotation {
    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.open-form-btn {
    background-color: rgb(0, 200, 236);
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: auto;
    border-radius: 40px;
    position: absolute;
    top: 830px;
    right: 90px;
    z-index: 1;
    transition-duration: 0.5s;
}

.open-form-btn:hover {
    transform: rotate(45deg) scale(1.2);
}


/*----------Form------------*/

.close-form-btn {
    width: 5%;
    height: 5%;
    margin-left: 3%;
    margin-top: 5px;
    position: absolute;
    cursor: pointer;
    color: rgb(126, 126, 126);
}

.close-form-btn:hover {
    color: rgb(42, 41, 41);

}

.divider {
    width: 200px;
    border: 3px solid rgb(28, 206, 230);
    border-radius: 5px;
    margin-bottom: 20px;
}

.text-label {
    margin-left: 50px;
    font-size: 18px;
}

.book-button {
    margin-top: 10px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 7px -1px rgba(50, 50, 50, 0.75);
    font-size: 17px;
    transition-duration: 0.5s;
}

.book-button:hover {
    transform: scale(1.1);
}


/* The radio button container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    box-shadow: 2px 2px 5px -1px rgba(50, 50, 50, 0.75);
}

/* On mouse-over, add a grey background color */
.radio-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked~.checkmark {
    background-color: rgb(53, 215, 243);
}




#add-book-btn {
    margin-left: 100px;
    background-color: rgb(8, 202, 236);
}

#reset-btn {
    margin-left: 20px;
    background-color: #06d6a0;
}

#add-book-btn:hover {
    background-color: rgb(98, 135, 255);
}

#reset-btn:hover {
    background-color: #06f096;
}

@media screen and (max-width: 1400px) {
    .grid-container {
        grid-template-columns: repeat(4, 200px);

    }
}


@media screen and (max-width: 1100px) and (min-width: 950px) {
    .grid-container {
        grid-template-columns: repeat(3, 200px);

    }

}

@media only screen and (max-width: 950px) {

    .open-form-btn {
        top: 20px;
        right: 0px;
        position: relative;
    }

    .grid-container {
        grid-template-columns: repeat(2, 235px);
    }

    #book-log {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 720px) {

    .grid-container {
        grid-template-columns: repeat(2, 200px);
    }


}

@media only screen and (max-width: 570px) {

    form {
        width: 330px;
    }

    #add-book-btn {
        margin-left: 50px;
    }

    #reset-btn {
        margin-left: 20px;

    }

    .grid-container {
        grid-template-columns: repeat(2, 180px);
    }

}

@media only screen and (max-width: 530px) {
    .grid-container {
        grid-template-columns: repeat(1, 200px);
        justify-content: center;
    }


    #book-log {
        font-size: 0.9em;
    }
}